.text p {
    margin: 0;
    padding: 0;
}

/* styles */
.text.legal-copy {
    font-size: 12px;
}

.text.text-center {
    text-align: center;
}

.text.bg-color-blue {
    background-color: #e9f3f4;
}