/* stylelint-disable max-line-length */
@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/OpenSans_Condensed-Bold.ttf');
}

@font-face {
  font-family: OpenSans;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/OpenSans-Regular.ttf');
}


@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/OpenSans-Light.ttf');
}


@font-face {
  font-family: OpenSans;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/OpenSans-LightItalic.ttf');
}
